# Annotation analysis

This noteboook

* illustrates the steps of the analysis currently implemented
* is used to analyze and monitor workers batch by batch

In [1]:
from load_data import load_experiment_data
from analyze_workers import get_worker_analysis, get_worker_contradiction_outlier_analysis
from analyze_pairs import get_pair_analysis
from analyze_pairs import show_pairs_of_worker
from analyze_pairs import compare_runs
from calculate_iaa import get_agreement
from analyze_relations_and_examples import agreement_relations_across_runs
from aggregate_labels import get_overview

# Analyze worker contradictions:

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

### Current batch

In [13]:
run = 4
batch = 31
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df.drop(['annotations'], axis = 1, inplace=True)
df[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails', 'n_annotations']]

creating file with uuid run4-group_experiment2/qu70-s_qu70-batch31.csv
added unique ids - file can be found at: ../data/prolific_output_uuid/run4-group_experiment2/qu70-s_qu70-batch31.csv
Discarded 0.0 annotations.

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails,n_annotations
9,5e89ef643a34f2683ef1906f,0.076923,6,0,72
7,5e67d9ed33e6a60542f4dfd7,0.064103,5,0,72
8,5e773bd402f929299ffaa47d,0.064103,5,0,72
6,5e673e6c0645c24bf9d4c418,0.051282,4,0,72
0,5b461982b002f50001253d0e,0.038462,3,0,72
3,5d6aeb25a6a4220015010bd6,0.012821,1,0,72
1,5cd74735c78b7d0001f9b364,0.000000,0,0,72
2,5d46cc091a2c130001ebc8cc,0.000000,0,0,72
4,5da347d5f26c300013fd9850,0.000000,0,0,72
5,5dfc9db54cac6899b466a76b,0.000000,0,0,72

### All annotations

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 
* Check how the behavior of a specific worker with many contradictions compares to other workers

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

In [5]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df_total, filepath = get_worker_analysis(data_dict_list, name)
analysis_type = 'workers'
df_outliers = get_worker_contradiction_outlier_analysis(analysis_type, run, group, batch)
df_total.drop(['annotations'], axis = 1, inplace=True)
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][:10]

Discarded 0.0 annotations.
Results written to: ../analyses/workers-outliers/run4-group_experiment2-batch-all-.csv

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
43,5c2c7eae8a20f50001e9a8c0,0.770115,67,0
25,5e8115962b00617ffc1b04ad,0.633333,57,0
17,5e8cffa6f387850d0476f30a,0.576923,45,0
126,5c6167386fabd400010977be,0.522222,47,0
86,5eb2f139b08c860b72cee01b,0.422222,38,0
108,5e262190061ea8871307a27c,0.413793,36,0
31,5b6d77890cee670001a6ee4b,0.413793,36,0
178,5c9a7515513a8e0015acaea5,0.402299,35,0
36,5e92e0a21cd5a1000804a9b3,0.402299,35,0
16,5e74c06037b0d4000896067d,0.384615,30,0

In [37]:
# Good workers
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][-20:]

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
289,5dad7f29033d57001357a2b8,0.0,0,0
786,5dfc9db54cac6899b466a76b,0.0,0,0
788,5e6e2b864acb203ddcbbc064,0.0,0,0
278,5de93ba177443804fea65939,0.0,0,0
257,55887149fdf99b5a49c225e3,0.0,0,0
277,5c8250c026a0940016b265da,0.0,0,0
276,5c3de869b3369c0001a9264a,0.0,0,0
275,5c036f34efea06000188cdba,0.0,0,0
796,598ee5e333481c000164d32e,0.0,0,0
272,5c73e0e1df19050016a5f8ea,0.0,0,0
270,5de2414f93203f26d66ba564,0.0,0,0
800,5c6deef7045a21000126a650,0.0,0,0
804,5e33cc7c4e448c394a198acc,0.0,0,0
807,5bd34b706546650001029bec,0.0,0,0
808,5c63f97a25163900017991d2,0.0,0,0
809,5c922ee24faf8b00014ca145,0.0,0,0
263,5de85bd4ead0f17d1e35930b,0.0,0,0
813,5e784ba802c79b3c2e227bd3,0.0,0,0
814,5e7a332d9984aa0008a7ed6f,0.0,0,1
0,59edb00d16ecc200016ff9be,0.0,0,0

### Get all contradictions and fails of a particular worker 

* Check if a specfic worker continuously contradicts themselves (and fails checks)

In [6]:
# copy from above - worker with many disagreements in target batch
worker = '5c43e536d780340001c6a3e1'


# df.loc[df['column_name'] == some_value]
df_total.loc[df_total['workerid'] == worker]

,average_time_question,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,contradictory_pairs_ratio,fail_annotation_ratio,n_annotations,n_contradictions,n_fails,n_possible_contradictions,workerid,...,"(afforded_unusual, impossible)","(typical_of_concept, unusual)","(typical_of_property, unusual)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(afforded_usual, unusual)","(implied_category, rare)","(rare, typical_of_concept)","(rare, typical_of_property)","(afforded_usual, rare)"
144,11.146986,0.166667,0.133333,0.444444,0.0,72,12,0,90,5c43e536d780340001c6a3e1,...,NaN,NaN,0.011111,NaN,NaN,NaN,0.011111,0.011111,0.011111,0.011111

# Analyze pairs

* compars number of annotator contradictions among pairs

### Current batch:

In [7]:
run = '4'
batch = '29'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df

Discarded 0.0 annotations.

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(typical_of_property, unusual)","(affording_activity, rare)","(rare, typical_of_property)","(implied_category, impossible)","(rare, typical_of_concept)","(afforded_usual, rare)","(implied_category, rare)","(impossible, typical_of_concept)","(affording_activity, impossible)","(impossible, typical_of_property)"
1,76.56176,0.13,0.108333,100,13,120,10,5,hot-charcoal,0.5,...,2.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,76.56176,0.06,0.050000,100,6,120,10,2,square-marble,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN
6,76.56176,0.07,0.058333,100,7,120,10,2,wheels-dray,0.2,...,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,1.0
2,76.56176,0.02,0.013333,100,2,150,10,1,fly-pussy,0.1,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,76.56176,0.04,0.026667,100,4,150,10,1,lay_eggs-layer,0.1,...,NaN,NaN,1.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN
5,76.56176,0.02,0.016667,100,2,120,10,1,black-sky,0.1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,76.56176,0.00,0.000000,100,0,120,10,0,sweet-broccoli,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,765.61760,0.00,0.000000,10,0,0,10,0,_check2-_check2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,765.61760,0.00,0.000000,10,0,0,10,0,_test2-_test2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get rows with pairs annotated by specific workers:

* Check if a worker in the only one contradicting or if others also had issues with the pairs

In [9]:
worker = '5c43e536d780340001c6a3e1'

show_pairs_of_worker(worker, df)

Worker 5c43e536d780340001c6a3e1 contradicted themselves in the following pairs:

square-marble 	 total workers contradicting themselves: 2
wheels-dray 	 total workers contradicting themselves: 2
fly-pussy 	 total workers contradicting themselves: 1
lay_eggs-layer 	 total workers contradicting themselves: 1

### Compare to entire annotation set

In [11]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df[:10]

Discarded 0.0 annotations.

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(afforded_unusual, unusual)","(affording_activity, impossible)","(affording_activity, unusual)","(affording_activity, rare)","(implied_category, rare)","(rare, typical_of_concept)","(rare, typical_of_property)","(afforded_unusual, impossible)","(afforded_unusual, rare)","(afforded_usual, rare)"
31,70.416410,0.300000,0.250000,100,30,120,10,8,dangerous-pusher,0.8,...,NaN,3.0,5.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN
21,98.967690,0.230000,0.153333,100,23,150,10,6,fly-skimmer,0.6,...,3.0,NaN,NaN,NaN,2.0,2.0,NaN,3.0,2.0,2.0
77,96.821850,0.280000,0.186667,100,28,150,10,6,lay_eggs-hobby,0.6,...,3.0,NaN,NaN,NaN,3.0,2.0,2.0,2.0,2.0,2.0
143,76.132420,0.220000,0.146667,100,22,150,10,6,fly-duck,0.6,...,3.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0
34,70.416410,0.240000,0.160000,100,24,150,10,6,fly-basset,0.6,...,3.0,NaN,NaN,NaN,1.0,1.0,NaN,2.0,3.0,2.0
27,70.416410,0.240000,0.200000,100,24,120,10,6,square-recliner,0.6,...,NaN,1.0,3.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN
68,70.458790,0.120000,0.080000,100,12,150,10,5,lay_eggs-stockfish,0.5,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,2.0
209,84.828975,0.174757,0.150000,103,18,120,10,5,black-zebra,0.5,...,NaN,NaN,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
80,96.821850,0.120000,0.100000,100,12,120,10,5,wheels-tank,0.5,...,NaN,1.0,3.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
178,111.578640,0.110000,0.091667,100,11,120,10,5,square-fireplace,0.5,...,NaN,NaN,NaN,2.0,2.0,3.0,2.0,NaN,NaN,NaN

In [9]:
# check specific pair:

pair = 'red-lipstick'
df.loc[df['pair'] == pair]

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(impossible, typical_of_concept)","(implied_category, impossible)","(impossible, typical_of_property)","(affording_activity, impossible)","(afforded_usual, rare)","(afforded_usual, impossible)","(afforded_usual, unusual)","(afforded_unusual, impossible)","(afforded_unusual, rare)","(afforded_unusual, unusual)"
414,56.3701,0.113333,0.10625,150,17,160,15,4,red-lipstick,0.266667,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

### Compare contradictions between runs:

In [15]:
run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df1, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df2, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

name1 = '3'
name2 = '4'
compare_runs(name1, name2, df1, df2, comp = 'all')
#print()
#compare_runs(name1, name2, df1, df2, comp = 'pairs')

Discarded 655.0 annotations.
analysis can be found at: ../analyses/pairs/run3-group_experiment1-batch-all-.csv
Discarded 0.0 annotations.
analysis can be found at: ../analyses/pairs/run4-group_experiment2-batch-all-.csv
Set 3 as a contradiction ratio of 0.2528971962616822
Set 4 as a contradiction ratio of 0.1983016983016983
The ratio is based on the number of workers annotating a pair.
A worker always annotates a full set.

(0.2528971962616822, 0.1983016983016983)

# Inter-annotator agreement

* Total agreement
* Agreement by relations
* agreement after removing annotators with many contradictions/annotators who fail checks/contradictory annotations

## Total iaa:

In [16]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'
print(f"Run {run}, all experiment groups:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)

get_agreement(data_dict_list)

Run *, all experiment groups:
Discarded 655.0 annotations.
Krippendorff's alpha: 0.23977650733260358
Proportional agreement (pairwise): 0.6248482796951355

Run *:
Discarded 655.0 annotations.
Krippendorff's alpha: 0.23567624334318582
Proportional agreement (pairwise): 0.6230672746100898

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2569132707690551
Proportional agreement (pairwise): 0.635513526628606

{'Krippendorff': 0.2569132707690551, 'Proportional': 0.635513526628606}

## Agreement after removing workers or annotations:

In [17]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

df = get_overview(run, batch, n_q, group)
df

Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-contradiction_outliers/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-worker_contradiction_rate_0/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-worker_contradiction_rate_above_av/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-worker_failed_checks_1/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-none/aggregated_labels-run4-group_experiment2.csv

,Alpha_full,Alpha_levels,filter,number_pairs,percent_clean,percent_pairs_cont
0,0.311986,0.458769,contradiction_outliers,167,0.879562,0.0
1,0.435886,0.623336,worker_contradiction_rate_0,159,0.321808,0.0
2,0.367819,0.503685,worker_contradiction_rate_above_av,167,0.694199,0.0
3,0.265313,0.381693,worker_failed_checks_1,167,0.976181,0.0
4,0.256913,0.374097,none,167,1.000000,0.0

## IAA by relation

In [31]:
runs = ['4', '3', '1']
experiment_name = 'experiment*'
path, df = agreement_relations_across_runs(runs, experiment_name)
print(f'Results written to: {path}')
df

Discarded 0.0 annotations.
Discarded 655.0 annotations.
Discarded 0.0 annotations.
Results written to: ../analyses/iaa/relations_runs4-3-1.csv

,1_Krippendorff,1_Proportional,3_Krippendorff,3_Proportional,4_Krippendorff,4_Proportional,relation
0,0.108460,0.555869,0.067595,0.542577,0.073552,0.653968,afforded_unusual
1,0.326482,0.682228,0.234555,0.753890,0.261759,0.681826,typical_of_property
2,NaN,NaN,0.258187,0.697828,0.354628,0.752825,test_false
3,0.197795,0.602036,0.103467,0.551250,0.155375,0.577003,variability_limited
4,0.336767,0.697995,0.178122,0.641176,0.385648,0.691667,afforded_usual
5,0.183925,0.679735,0.133176,0.656011,0.234947,0.725615,impossible
6,0.904637,0.964443,0.607970,0.883546,0.762599,0.917241,_check
7,NaN,NaN,0.038257,0.781365,-0.003365,0.721188,test_true
8,0.149149,0.671726,0.196397,0.654828,0.326859,0.664356,affording_activity
9,0.367910,0.688961,0.307788,0.711897,0.358773,0.684582,typical_of_concept
10,0.260459,0.629637,0.259537,0.646077,0.307687,0.655986,implied_category
11,0.120147,0.560796,0.157012,0.574246,0.213238,0.623155,unusual
12,0.143751,0.580081,0.215107,0.605239,0.117657,0.556766,variability_open
13,NaN,NaN,0.129970,0.574512,0.203024,0.630619,rare
14,0.157270,0.578680,NaN,NaN,NaN,NaN,variability_subcategories
15,0.040020,0.525403,0.058862,0.542721,0.074720,0.600085,creative