# Annotation analysis

This noteboook

* illustrates the steps of the analysis currently implemented
* is used to analyze and monitor workers batch by batch

In [13]:
from load_data import load_experiment_data
from analyze_workers import get_worker_analysis, get_worker_contradiction_outlier_analysis
from analyze_pairs import get_pair_analysis
from analyze_pairs import show_pairs_of_worker
from analyze_pairs import compare_runs
from calculate_iaa import get_agreement
from analyze_relations_and_examples import agreement_relations_across_runs
#from aggregate_labels import get_overview

# Analyze worker contradictions:

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

### Current batch

In [18]:
run = 4
batch = 150
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df.drop(['annotations'], axis = 1, inplace=True)
df[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails', 'n_annotations']]

Discarded 0.0 annotations.

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails,n_annotations
0,56e99d054111eb000c77885b,0.0,0,1,72
1,59d9395703203500011acfcd,0.0,0,0,72
2,5b2e41eb1d2f710001fb32db,0.0,0,1,72
3,5bb7b83ab791890001f4fd90,0.0,0,0,72
4,5c5b57d70be57e0001fa116d,0.0,0,0,72
5,5dd7abaaaf16d3746667182c,0.0,0,1,72
6,5de64adbbe4cdf000cb6a61e,0.0,0,0,72
7,5e10c28282052679c88dcb9f,0.0,0,1,72
8,5e6a97d6d5745d0522c116ed,0.0,0,0,72
9,5e9cfd9cee0aed225ed1c501,0.0,0,0,72

### All annotations

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 
* Check how the behavior of a specific worker with many contradictions compares to other workers

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

In [6]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df_total, filepath = get_worker_analysis(data_dict_list, name)
analysis_type = 'workers'
df_outliers = get_worker_contradiction_outlier_analysis(analysis_type, run, group, batch)
df_total.drop(['annotations'], axis = 1, inplace=True)
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][:10]

Discarded 655.0 annotations.
Results written to: ../analyses/workers-outliers/run-all--group_experiment-all--batch-all-.csv

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
245,5c2c7eae8a20f50001e9a8c0,0.770115,67,0
693,5bfed16ca1f050000102693c,0.712644,62,1
879,5d6ef000391fb4001a97337d,0.696970,69,1
1060,111,0.650000,39,0
213,5e8115962b00617ffc1b04ad,0.633333,57,0
645,5c91321c0375460001034cb8,0.633333,38,0
1028,5d76a2dc2a476a0001ce6843,0.625000,45,1
698,5e2f554c4c58fa515ad361d0,0.600000,3,0
196,5e8cffa6f387850d0476f30a,0.576923,45,0
796,5e87276d17cdf1028850af59,0.529412,54,1

In [7]:
# Good workers
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][-20:]

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
329,5cb92adbe0e8ab000176f421,0.0,0,0
96,55a15444fdf99b04310c8c85,0.0,0,0
333,5cae54fbe5b99b0015a57a33,0.0,0,1
334,5d50fbe64e3713001a005a19,0.0,0,2
345,5dc6d78cac77c74d18692044,0.0,0,1
346,5e1103e212e922000bc4bdf9,0.0,0,0
81,5c9be64e7eead40016aebc0c,0.0,0,0
350,56e99d054111eb000c77885b,0.0,0,0
354,5c3fb75eca00d30001c5187d,0.0,0,0
923,5c922ee24faf8b00014ca145,0.0,0,0
655,5c665e1948985d0001f09675,0.0,0,0
653,5dc2ef762bdeaa2048421817,0.0,0,0
364,5ea0448e208a8a03174218a0,0.0,0,0
644,5de5a14236d82552feeaf5ee,0.0,0,0
917,598ee5e333481c000164d32e,0.0,0,0
367,5badd3d7de6f4900019e4148,0.0,0,0
920,5e33cc7c4e448c394a198acc,0.0,0,0
374,5c251fdd17d86a00017d3c96,0.0,0,1
922,5bd34b706546650001029bec,0.0,0,0
171,5c4082b3fe87360001a55874,0.0,0,0

### Get all contradictions and fails of a particular worker 

* Check if a specfic worker continuously contradicts themselves (and fails checks)

In [12]:
# copy from above - worker with many disagreements in target batch
worker = '5d034f7733bb360017370b87'


# df.loc[df['column_name'] == some_value]
df_total.loc[df_total['workerid'] == worker]

,average_time_question,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,contradictory_pairs_ratio,fail_annotation_ratio,n_annotations,n_contradictions,n_fails,n_possible_contradictions,workerid,...,"(afforded_usual, rare)","(typical_of_property, unusual)","(affording_activity, unusual)","(impossible, typical_of_property)","(rare, typical_of_property)","(afforded_usual, impossible)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(affording_activity, rare)","(afforded_usual, unusual)"
4,6.160701,0.013274,0.011905,0.066667,0.00885,226,3,2,252,5d034f7733bb360017370b87,...,NaN,NaN,0.007937,NaN,NaN,NaN,NaN,NaN,0.003968,NaN

# Analyze pairs

* compars number of annotator contradictions among pairs

### Current batch:

In [7]:
run = '4'
batch = '136'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
#df

Discarded 0.0 annotations.

### Get rows with pairs annotated by specific workers:

* Check if a worker in the only one contradicting or if others also had issues with the pairs

In [5]:
worker = '5dc1f283fc1cda15c5015611'

show_pairs_of_worker(worker, df)

Worker 5dc1f283fc1cda15c5015611 contradicted themselves in the following pairs:

### Compare to entire annotation set

In [13]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df[:10]

Discarded 655.0 annotations.

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(impossible, typical_of_property)","(impossible, typical_of_concept)","(afforded_usual, unusual)","(typical_of_property, unusual)","(affording_activity, impossible)","(implied_category, impossible)","(rare, typical_of_property)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(afforded_usual, rare)"
1507,91.487260,0.206667,0.155,150,31,200,15,14,roll-bucket,0.933333,...,NaN,NaN,NaN,1.0,NaN,1.0,1.0,8.0,8.0,1.0
1387,74.643380,0.146667,0.110,150,22,200,15,13,roll-tray,0.866667,...,1.0,NaN,NaN,2.0,NaN,NaN,NaN,9.0,3.0,NaN
1174,50.681993,0.299363,0.235,157,47,200,15,13,roll-nut,0.866667,...,1.0,2.0,4.0,2.0,NaN,2.0,NaN,11.0,5.0,1.0
1438,67.068860,0.180000,0.135,150,27,200,15,13,roll-glass,0.866667,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,9.0,5.0,NaN
444,70.416410,0.300000,0.250,100,30,120,10,8,dangerous-pusher,0.800000,...,3.0,2.0,NaN,3.0,3.0,1.0,1.0,NaN,NaN,NaN
1160,83.456113,0.226667,0.170,150,34,200,15,12,roll-ferrule,0.800000,...,NaN,NaN,1.0,NaN,NaN,3.0,NaN,7.0,6.0,1.0
1365,62.036720,0.293333,0.220,150,44,200,15,12,roll-bolt,0.800000,...,2.0,1.0,4.0,3.0,NaN,1.0,2.0,6.0,5.0,3.0
1369,81.443980,0.240000,0.180,150,36,200,15,12,roll-car,0.800000,...,NaN,1.0,2.0,1.0,NaN,2.0,NaN,11.0,5.0,1.0
1461,77.292245,0.235669,0.185,157,37,200,15,12,roll-peg,0.800000,...,NaN,1.0,2.0,NaN,NaN,2.0,1.0,8.0,8.0,3.0
1409,68.401000,0.233333,0.175,150,35,200,15,12,roll-hammer,0.800000,...,3.0,1.0,1.0,2.0,NaN,2.0,NaN,8.0,5.0,NaN

In [12]:
# check specific pair:

pair = 'yellow-pineapple'
df.loc[df['pair'] == pair]

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(typical_of_concept, unusual)","(typical_of_property, unusual)","(afforded_usual, impossible)","(rare, typical_of_concept)","(rare, typical_of_property)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(afforded_unusual, impossible)","(afforded_usual, unusual)","(afforded_usual, rare)"
385,117.431317,0.0,0.0,60,0,0,10,0,yellow-pineapple,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Compare contradictions between runs:

In [10]:
run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df1, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df2, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

name1 = '3'
name2 = '4'
compare_runs(name1, name2, df1, df2, comp = 'all')
#print()
#compare_runs(name1, name2, df1, df2, comp = 'pairs')

Discarded 655.0 annotations.
analysis can be found at: ../analyses/pairs/run3-group_experiment1-batch-all-.csv
Discarded 0.0 annotations.
analysis can be found at: ../analyses/pairs/run4-group_experiment2-batch-all-.csv
Set 3 as a contradiction ratio of 0.2528971962616822
Set 4 as a contradiction ratio of 0.09645075421472937
The ratio is based on the number of workers annotating a pair.
A worker always annotates a full set.

(0.2528971962616822, 0.09645075421472937)

# Inter-annotator agreement

* Total agreement
* Agreement by relations
* agreement after removing annotators with many contradictions/annotators who fail checks/contradictory annotations

## Total iaa:

In [7]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'
print(f"Run {run}, all experiment groups:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)

get_agreement(data_dict_list)

Run *, all experiment groups:
Discarded 655.0 annotations.

/Users/piasommerauer/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:576: RuntimeWarning: invalid value encountered in true_divide
  k = np.sum(w_mat * confusion) / np.sum(w_mat * expected)

Krippendorff's alpha: 0.3199824200096839
Average Cohen's Kappa (pairwise): 0.30137939032289723
Proportional agreement (pairwise): 0.666621176602473

Run *:
Discarded 655.0 annotations.
Krippendorff's alpha: 0.23567624334318582
Average Cohen's Kappa (pairwise): 0.2270603465915947
Proportional agreement (pairwise): 0.6230672746100898

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.36964945541607264
Average Cohen's Kappa (pairwise): 0.36073140441386775
Proportional agreement (pairwise): 0.7007662432347421

{'Krippendorff': 0.36964945541607264,
 'Proportional': 0.7007662432347421,
 'Av_Cohens_kappa': 0.36073140441386775}

In [16]:
# Run 4 see if selecting good workers helps agreement:

# no whitelist
run = '4'
batch = '20'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '27'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '28'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '29'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '40'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '41'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '42'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '43'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '44'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '45'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '46'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '47'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '48'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '119'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '120'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '136'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.1773467340972621
Average Cohen's Kappa (pairwise): 0.15990402232445725
Proportional agreement (pairwise): 0.5741741741741743

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.36094682230869035
Average Cohen's Kappa (pairwise): 0.35674750523616533
Proportional agreement (pairwise): 0.7078078078078076

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.38306989982331197
Average Cohen's Kappa (pairwise): 0.38816630417456993
Proportional agreement (pairwise): 0.732456140350877

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.27779308118876944
Average Cohen's Kappa (pairwise): 0.2813174663604737
Proportional agreement (pairwise): 0.6657407407407409

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.28576527457959255
Average Cohen's Kappa (pairwise): 0.28760343265417637
Proportional agreement (pairwise): 0.6632716049382716

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2768403864897817
Average Cohen's Kappa (pairwise): 0.2781291987090819
Proportional agreement (pairwise): 0.6587719298245616

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.38854530410759147
Average Cohen's Kappa (pairwise): 0.38876532184706114
Proportional agreement (pairwise): 0.6987987987987986

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3684756150950007
Average Cohen's Kappa (pairwise): 0.3712649234833178
Proportional agreement (pairwise): 0.7069069069069067

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3045833639053982
Average Cohen's Kappa (pairwise): 0.30512979568179693
Proportional agreement (pairwise): 0.6672364672364673

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3862504409171078
Average Cohen's Kappa (pairwise): 0.3906780104314305
Proportional agreement (pairwise): 0.7012345679012345

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2779135225775543
Average Cohen's Kappa (pairwise): 0.28428208100463187
Proportional agreement (pairwise): 0.6545454545454547

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3613558843684369
Average Cohen's Kappa (pairwise): 0.3630357844186837
Proportional agreement (pairwise): 0.7163580246913579

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.31568332789916853
Average Cohen's Kappa (pairwise): 0.3168582159819613
Proportional agreement (pairwise): 0.693732193732194

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3836959814666314
Average Cohen's Kappa (pairwise): 0.38770032126600523
Proportional agreement (pairwise): 0.7030864197530866

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3821749852384425
Average Cohen's Kappa (pairwise): 0.38602971504524153
Proportional agreement (pairwise): 0.7132716049382718

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.4544770067782622
Average Cohen's Kappa (pairwise): 0.4494554213739185
Proportional agreement (pairwise): 0.757716049382716

{'Krippendorff': 0.4544770067782622,
 'Proportional': 0.757716049382716,
 'Av_Cohens_kappa': 0.4494554213739185}

## Agreement after removing workers or annotations:

In [13]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

df = get_overview(run, batch, n_q, group)
df

NameError: name 'get_overview' is not defined

## IAA by relation

In [18]:
runs = ['4', '3', '1']
experiment_name = 'experiment*'
path, df = agreement_relations_across_runs(runs, experiment_name)
print(f'Results written to: {path}')

Discarded 0.0 annotations.
Discarded 655.0 annotations.
Discarded 0.0 annotations.
Results written to: ../analyses/iaa/relations_runs4-3-1.csv

In [30]:
df[['relation','1_Krippendorff', '3_Krippendorff',\
    '4_Krippendorff']].sort_values('4_Krippendorff', ascending=False)

                     relation  1_Krippendorff  3_Krippendorff  4_Krippendorff
7                      _check        0.904637        0.607970        0.917567
1              afforded_usual        0.336767        0.178122        0.596207
14           implied_category        0.260459        0.259537        0.445370
13         typical_of_concept        0.367910        0.307788        0.433827
5                  test_false             NaN        0.258187        0.409750
3                  impossible        0.183925        0.133176        0.390432
12         affording_activity        0.149149        0.196397        0.384056
9         typical_of_property        0.326482        0.234555        0.328336
0                     unusual        0.120147        0.157012        0.306007
8                        rare             NaN        0.129970        0.283294
15        variability_limited        0.197795        0.103467        0.252497
4            variability_open        0.143751        0.215107        0.218539
6                    creative        0.040020        0.058862        0.160452
11           afforded_unusual        0.108460        0.067595        0.104033
2                   test_true             NaN        0.038257        0.006591
10  variability_subcategories        0.157270             NaN             NaN